body
{
  background-color: cyan;
  color: burlywood;
  font-family: 'Mochiy Pop P One', sans-serif;
}
.middle
{
    text-align: center;
}
img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p
{
  text-align: center;
}